<tr align="center" (mouseenter)="mouseHovering()" (mouseleave)="mouseLeaving()">
  <td scope="row">
    <input type="checkbox" aria-label="Checkbox for following text input" />
  </td>
  <td
    *ngIf="this.file.isFolder"
    [routerLink]="[this.file.path]"
    style="cursor: pointer;"
  >
    <i class="fa fa-folder-open"></i>
    {{ this.file.name }}
  </td>
  <td *ngIf="!this.file.isFolder">
    <i class="fa fa-file"></i> {{ this.file.name }}
  </td>
  <td *ngIf="this.file.isFolder">Folder</td>
  <td *ngIf="!this.file.isFolder">File</td>
  <td>--</td>
  <td>
    <span *ngIf="!this.file.isFolder">
      {{ this.file.size | format }}
    </span>
    <span *ngIf="this.file.isFolder">
      --
    </span>
  </td>
  <td>
    <div [class.dropleft]="this.isHover" class="dropdown">
      <button
        [disabled]="!this.isHover"
        class="btn btn-primary dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      ></button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a (click)="deleteFile()" class="dropdown-item" [routerLink]=""
          ><i class="fa fa-trash"></i> Delete</a
        >
        <a type="button" class="dropdown-item disabled" [routerLink]=""
          ><i class="fa fa-edit"></i> Edit (Not implemented)</a
        >
        <a type="button" class="dropdown-item disabled" [routerLink]=""
          ><i class="fa fa-download"></i> Download (Not implemented)</a
        >
      </div>
    </div>
  </td>
</tr>
