<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Testbox</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#"
        >Home <span class="sr-only">(current)</span></a
      >
    </div>
  </div>
  <button
    type="button"
    class="btn btn-secondary disabled"
    data-toggle="popover"
    title="Popover title"
    data-content="And here's some amazing content. It's very engaging. Right?"
  >
    Logout (Not implemented)
  </button>
</nav>
<router-outlet></router-outlet>
