<div class="btn-group my-3 mx-3" role="group" aria-label="Basic example">
  <button
    data-toggle="modal"
    data-target="#uploadFileModal"
    type="button"
    class="btn btn-primary"
  >
    <i class="fa fa-file"></i> Upload file
  </button>
  <button
    data-toggle="modal"
    data-target="#createFolderModal"
    type="button"
    class="btn btn-secondary"
  >
    <i class="fa fa-folder"></i> Create folder
  </button>
</div>

<table class="table table-hover">
  <thead>
    <tr align="center">
      <th scope="col">
        <button
          (click)="goParentFolder()"
          type="button"
          [disabled]="this.path === ''"
          class="btn btn-secondary"
        >
          <i class="fa fa-arrow-left"></i> Back
        </button>
      </th>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Last modified</th>
      <th scope="col">Size</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="5">
        <div *ngIf="this.files.length == 0" class="jumbotron">
          <h1 class="display-4">This folder is empty</h1>
          <hr class="my-4" />
          <p class="lead">
            <a
              class="btn btn-primary btn-lg"
              data-toggle="modal"
              data-target="#createFolderModal"
              href="#"
              role="button"
              >Create folder</a
            >
          </p>
        </div>
      </td>
    </tr>

    <app-file
      (updateFilesEvent)="this.getContentByPath($event)"
      (deleteFileEvent)="this.deleteFile($event)"
      *ngFor="let file of this.files"
      [file]="file"
    ></app-file>
  </tbody>
</table>

<!-- Modal -->
<div
  class="modal fade"
  id="createFolderModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <i class="fa fa-folder"></i> Create folder
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="folderForm" novalidate>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default"
                >Name</span
              >
            </div>
            <input
              formControlName="name"
              [class.is-invalid]="name.invalid && (name.dirty || name.touched)"
              [(ngModel)]="folderName"
              type="text"
              class="form-control"
              aria-label="Default"
              aria-describedby="inputGroup-sizing-default"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button
          [disabled]="folderForm.invalid"
          (click)="createFolder()"
          data-dismiss="modal"
          type="button"
          class="btn btn-primary"
        >
          Create
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="uploadFileModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <i class="fa fa-folder"></i> Upload file
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="fileForm" novalidate>
          <div class="form-group">
            <label for="exampleFormControlFile1">Your file</label>
            <input
              (change)="handleFileInput($event.target.files)"
              type="file"
              class="form-control-file"
              id="exampleFormControlFile1"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button
          (click)="uploadFile()"
          data-dismiss="modal"
          type="button"
          class="btn btn-primary"
        >
          Create
        </button>
      </div>
    </div>
  </div>
</div>

<div class="snackbar" #snackbar>
  Deleted 1 item
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  {{ this.counter }}s &nbsp;<button
    (click)="this.isUndidDeleting = true"
    type="button"
    class="btn btn-secondary"
  >
    Undo
  </button>
</div>

<div class="snackbar" #snackbarFile>
  File is uploading
  <i class="fa fa-circle-o-notch fa-spin" style="font-size: 24px;"></i>
</div>
